<h1>Patient Login</h1>
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

  <%= form_for @user, url: login_users_path do |f| %>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit "Login" %>
  <% end %>


  