<%= form_for person do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :province %>
    <%= f.text_field :province %>
  </div>

  <div>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

    <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    Patient
    <%= f.radio_button(:type, "Patient") %>
    Doctor
    <%= f.radio_button(:type, "Doctor") %>
    
  </div>

  <%= f.submit button_name %>

<% end %>