<!--NEED TO FIGURE THIS VIEW OUT -->

<h2 class="fc-header-title">Patient Bookings for <%=@current_user.name%></h2>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Today" %></li>
    <li><%= link_to "Week" %></li>
    <li><%= link_to "Month" %></li>
    <li><%= link_to "All Appointments"%></li>
  </ul>
</div>

<div>
  <table class="table">
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Time</th>
        <th>Patient</th>
      </tr>
      <% c = 1 %>
      <% @patient_appointments.each do |appointment| %>
      
        <tr>  
          <% if appointment.appointment_booked %>  
            <td><%= c %> </td>
            <td><%= appointment.date.strftime('%A %B %-d, %Y') %></td>
            
            <td><%= appointment.start_time.strftime('%H:%M') %></td>
              
            <td><%= find_respective_doctor(appointment).name %></td>
            <% c+=1 %>
          <% else %>
            <h2>My Appointment Preferences</h2>
            <div>
              <%= appointment.start_time.strftime('%H:%M') %>
            </div>
            <div>
              <%= find_day_from_preference(appointment) %>
            </div>
          <% end %>
        </tr>
      <% end %>
    </table>
</div>
  
