
<div class="row">
<div class="col-lg-4">
<h2>All Booked Appointments</h2>

<% @patient_appointments.each do |appointment| %>

  <% if appointment.appointment_booked %>  
    <p><%= appointment.date.strftime('%A %B %-d, %Y') %></p>
  
    <p><%= appointment.start_time.strftime('%H:%M') %></p>
    
    <p><%= find_respective_doctor(appointment).name %></p>
  </div>
  <% end %>
<% end %>

<div class="col-lg-4">
  <h2>My Preferred Times</h2>
  <% @patient_appointments.each do |appointment| %>
  <% if appointment.appointment_booked == false %>
    <p>
      <%= appointment.start_time.strftime('%H:%M') %>
      <%= find_day_from_preference(appointment).capitalize %>
    </p>
  <% end %>
<% end %>
</div>
</div>